$carousel-control-width: 35px;
$carousel-indicator-size: 6px;

button.carousel-control-next svg
{
  width: $carousel-control-width;
}
button.carousel-control-prev svg
{
  width: $carousel-control-width
}
.carousel-indicators [data-bs-target]{
  width: $carousel-indicator-size;
  height: $carousel-indicator-size;
}
