// colors.scss

$color-light-grey: #f1f1f1;
$color-yellow: #ffff00;
$color-black: #000000;
$color-light-grey-border: rgba(241, 241, 241, 0.1);

// Spezifische Farben und Layout-Dimensionen
$yellow-background: #FFFF00;
$light-grey-background: #F1f1f1;
