// typography.scss

// Import der Variablen und Mixins
@import 'fonts';
@import 'mixins';

// Stile für die Font-Familien
body {
  font-family: $font-family-body;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-family-heading;
}

em, i {
  font-family: 'CharterBT-Italic', sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

// Stile für Überschriften
h1 {
  @include heading($h1-size, $font-family-heading);

  // Optional: große Version für spezielle Fälle
  &.large {
    font-size: $h1-size-large;
  }
}

h2 {
  @include heading($h2-size, $font-family-heading);

  // Optional: große Version für spezielle Fälle
  &.large {
    font-size: $h2-size-large;
  }
}

h3 {
  @include heading($h3-size, $font-family-heading);

  // Optional: große Version für spezielle Fälle
  &.large {
    font-size: $h3-size-large;
  }
}

h4 {
  @include heading($h4-size, $font-family-heading);
}

// Stile für Absätze
p {
  @include body-text($p-size, $font-family-body);
}

// Stile für Links
a {
  @include body-text($link-size, $font-family-body);

  // Optional: kleine Version für spezielle Fälle
  &.small {
    font-size: $link-size-small;
  }
}
