$enable-rounded: false;

// Typografie und Basis-Dimensionen
$font-family: 'Helvetica', 'Arial', sans-serif;
$primary-color: #333;
$secondary-color: #f0f0f0;
$base-font-size: 16px;
$spacing-unit: 20px;

// Spezifische Farben und Layout-Dimensionen
$yellow-background: #FFFF00;
$light-grey-background: #F1f1f1;

// Definition des Container-Margin Höhe
$container-margin: 56px 0 56px 0;

// Definition der Container-Padding-Variablen
$container-padding: (
  'top': 16vh,
  'bottom': 20vh,
  'left-breit': 33vw,
  'left-schmal': 25vw,
  'right-schmal': 25vw,
  'right-breit': 33vw,
  'spalten': (16vh 10vw 16vh 25vw)
);

