$enable-rounded: false;

$base-font-size: 16px;
$h1-size: 4.0625rem; // 65pt
$h1-size-large: 4.25rem; // 68pt
$h1-size-small: 2rem; // Mobile
$h2-size: 2.8125rem; // 45pt
$h2-size-large: 3rem; // 48pt
$h3-size: 1.4375rem; // 23pt
$h3-size-large: 1.625rem; // 26pt
$h4-size: 1.125rem; // 18pt
$p-size: 1rem; // 16pt
$link-size: 1rem; // 16pt
$link-size-small: 0.75rem; // 12pt

$nav-main-size: 2.8125rem; // 45pt
$nav-sub-size: 1.4375rem; // 23pt

// Definition des Container-Margin Höhe
$container-margin: 56px 0 56px 0;

// Definition der Container-Padding-Variablen
$container-padding: (
  'top': 16vh,
  'bottom': 20vh,
  'left-breit': 33vw,
  'left-schmal': 25vw,
  'right-schmal': 25vw,
  'right-breit': 33vw,
  'spalten': (16vh 10vw 16vh 25vw),
  'mobile-top': 6vh,
  'mobile-bottom': 0vh,
  'mobile-left': 7vw,
  'mobile-right': 7vw
);
