$enable-rounded: false;

// variables.scss
$base-font-size: 16px; // Basis-Schriftgröße
$h1-size: 4.0625rem; // 65pt umgerechnet in rem (65 / 16)
$h1-size-large: 4.25rem; // 68pt umgerechnet in rem
$h2-size: 2.8125rem; // 45pt umgerechnet in rem
$h2-size-large: 3rem; // 48pt umgerechnet in rem
$h3-size: 1.4375rem; // 23pt umgerechnet in rem
$h3-size-large: 1.625rem; // 26pt umgerechnet in rem
$h4-size: 1.125rem; // 18pt umgerechnet in rem
$p-size: 1rem; // 16pt umgerechnet in rem
$link-size: 1rem; // 16pt umgerechnet in rem
$link-size-small: 0.75rem; // 12pt umgerechnet in rem

$nav-main-size: 2.8125rem; // 45pt umgerechnet in rem
$nav-sub-size: 1.4375rem; // 23pt umgerechnet in rem


// Definition des Container-Margin Höhe
$container-margin: 56px 0 56px 0;

// Definition der Container-Padding-Variablen
$container-padding: (
  'top': 16vh,
  'bottom': 20vh,
  'left-breit': 33vw,
  'left-schmal': 25vw,
  'right-schmal': 25vw,
  'right-breit': 33vw,
  'spalten': (16vh 10vw 16vh 25vw)
);

