.field--name-field-firmenname{
  font-weight: bold;
}
#block-atlantiq-footeroben{
  z-index: 1;
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  margin-bottom: 2rem;
  margin-right: 2rem;

  .field {
    margin-right: 15px;

    &:last-child {
      margin-right: 0;
    }
  }
}
.footer-column {
  margin-left: 1rem;
  margin-right: 1rem;
}

#block-atlantiq-beschreibungstextlinks{
  z-index: 1;
  position: absolute;
  bottom: 3%;
  left: 3%;
}
