// layout.scss
@include respond-to(md) {
  .node--type-page > div.node__content:first-of-type {
    margin-top: 125px; //Abstand vom Logo zum Inhalt
  }
}

// Allgemeine Container-Styles
.stellen-container,
.kunde-container,
.person-container,
.paragraph--type--block-text-mitte,
.paragraph-text-rechts-oben-container,
.paragraph-dienstleistung-block-slider-container,
.impressum-container{
  @include full-size-container;
  overflow: hidden;
  padding-top: map-get($container-padding, 'top');
  padding-bottom: map-get($container-padding, 'bottom');
  padding-left: map-get($container-padding, 'left-breit');
  padding-right: map-get($container-padding, 'right-breit');

  @include respond-to(md) {
    padding-left: map-get($container-padding, 'left-schmal');
    padding-right: map-get($container-padding, 'right-schmal');
    height: inherit;
  }

  @include respond-to(sm) {
    padding-top: map-get($container-padding, 'mobile-top');
    padding-bottom: map-get($container-padding, 'mobile-bottom');
    padding-left: map-get($container-padding, 'mobile-left');
    padding-right: map-get($container-padding, 'mobile-right');
    height: inherit;
  }

  h1 {
    @include respond-to(sm) {
      font-size: $h1-size-small!important;
    }
  }
}

// Spezifischer Hintergrund nur für 'stellen-container'
.stellen-container {
  background-color: $yellow-background;
}
// Spezifisches Padding für die Impressum-Container
.impressum-container {
  padding-right: map-get($container-padding, 'right-schmal');

  @include respond-to(xl) {
    padding-right: map-get($container-padding, 'mobile-right');
    padding-left: map-get($container-padding, 'mobile-left');
  }
  @include respond-to(md) {
    padding-right: map-get($container-padding, 'right-schmal');
    padding-left: map-get($container-padding, 'left-schmal');
  }

  @include respond-to(sm) {
    padding-right: map-get($container-padding, 'mobile-right');
    padding-left: map-get($container-padding, 'mobile-left');
  }

}
// Spezifische Höhe für die Kunden und Person-Container
.kunde-container,
.person-container {
  height: inherit!important;
}

// Padding-Anpassungen für Block-Text-oben-rechts-Container
.paragraph-text-rechts-oben-container {
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  padding-right: 5vw;

  @include respond-to(md) {
    align-items: flex-end;
    justify-content: center;
  }

  @include respond-to(sm) {
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    padding: 0;
  }

  // Ergänzung für xl-Breakpoint
  @include respond-to(xl) {
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    padding: 0;
  }

  .content {
    max-width: 50%;
    padding: 20px;

    @include respond-to(md) {
      padding: 36px;
    }

    @include respond-to(sm) {
      max-width: 100%;
      padding: 20px;
      overflow: auto;
    }

    @include respond-to(xl) {
      max-width: 100%;
      padding: 20px;
      overflow: auto;
    }

    h1 {
      @include heading($h1-size, $font-family-heading);

      @include respond-to(md) {
        font-size: $h1-size-large;
      }

      @include respond-to(sm) {
        font-size: $h1-size-small;
      }

      @include respond-to(xl) {
        font-size: $h1-size-large;
      }
    }

    p {
      @include body-text($p-size, $font-family-body);

      @include respond-to(md) {
        font-size: $p-size;
      }

      @include respond-to(sm) {
        font-size: $p-size;
      }

      @include respond-to(xl) {
        font-size: $p-size;
      }
    }
  }
}


// Spezifische Anpassung für Paragraph mit Block-Text-Mitte Startseite/Jobs
article[data-history-node-id="1"] .paragraph--type--block-text-mitte {
  @include respond-to(md) {
    height: 100vh !important;
  }
  display: flex !important;
  justify-content: center !important;
  align-content: center !important;
  flex-wrap: wrap !important;

  @include respond-to(sm) {
    img.align-center {
      width: 19rem !important;
      height: auto;
    }
  }
}

article[data-history-node-id="16"] .paragraph--type--block-text-mitte {
  @include respond-to(md) {
    height: inherit !important;
  }
  display: flex !important;
  justify-content: center !important;
  align-content: center !important;
  flex-wrap: wrap !important;

  @include respond-to(sm) {
    img.align-center {
      width: 19rem !important;
      height: auto;
    }
  }
}
.paragraph--type--block-text-mitte,
.paragraph-dienstleistung-block-slider-container,{
  background-color: $light-grey-background !important;
}

// Padding für Paragraph-Block der den Spaltenabschnitt darstellt
.paragraph--type--spaltenabschnitt {
  @include full-size-container;
  padding: map-get($container-padding, 'spalten');

  // spezifische Anpassungen für Breakpoints bis lg
  @include respond-to(lg) {
    padding: 16vh 10vw 16vh 11vw;
    height: inherit;
  }

  // Selektor für das erste und zweite Kind ansprechen innerhalb des Containers
  .row.row-cols-1.row-cols-lg-3 {
    @media (min-width: 1400px) {
       .mb-3.mb-lg-0.col-lg-4:nth-child(1) {
        margin-top: 50px;
      }
       .mb-3.mb-lg-0.col-lg-4:nth-child(2) {
        margin-top: -100px;
        margin-left: 45px;
      }
    }
  }
}

// Sonstiges
.node__meta {
  display: none;
}
.paragraph--type--slider .field__item img {
  width: 100%;
  height: auto;
}
.views-field-field-abteilung {
  font-weight: bold;
}
