// Mixin für den gelben Streifen-Effekt
@mixin yellow-stripe($font-size, $stripe-height) {
  position: relative; // Um Pseudo-Elemente verwenden zu können
  font-family: $font-family-heading;
  font-size: $font-size; // Überschriften-Größe
  color: $color-black; // Standardfarbe
  text-transform: uppercase;
  text-decoration: none;
  transition: color 0.3s;

  &.active,
  &:hover {
    color: $color-black; // Standardfarbe bleibt schwarz

    &::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); // Zentriert das Pseudo-Element horizontal und vertikal
      width: calc(100% + 20px); // Breite des gelben Streifens, etwas breiter als der Text
      height: $stripe-height; // Höhe des gelben Streifens
      background-color: $color-yellow;
      z-index: -1; // Streifen hinter dem Text
    }
  }

  &.active::before {
    background-color: $color-yellow;
  }
}

// Logo-Styles
#logo-atlantiq {
  z-index: 1031;
  position: absolute;
  height: 45px;
}

// Anpassung für die Navigation, damit sie nur den linken Teil des Bildschirms einnimmt
.custom-nav {
  position: fixed;
  top: 0;
  left: 56px;
  height: 100%;
  width: 300px; // Breite der Navigation auf 300px festlegen
  z-index: 1030; // Sicherstellen, dass die Navigation über dem restlichen Inhalt liegt
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 8vh 0 0 0;
  background: none; // Hintergrund entfernen

  @include respond-to(md) {
    width: 80%; // Breite der Navigation auf 80% für mittelgroße Geräte
    left: 10%; // Zentrieren der Navigation
    height: auto; // Höhe auf automatisch setzen
  }

  @include respond-to(sm) {
    width: 100%; // Navigation über die gesamte Breite auf kleinen Geräten
    left: 0; // Linker Rand auf 0 setzen
    height: auto; // Höhe auf automatisch setzen
    padding: 10vh 0 0 0; // Paddings anpassen für kleinere Bildschirme
  }
}

.custom-nav-container {
  width: 100%;
}

.menu__main {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column!important; // Stellt die Hauptnavigation untereinander dar

  .nav-item {
    height: 3rem;
    margin-bottom: 0;

    .nav-link {
      @include yellow-stripe(45px, 25px); // Mixin für den gelben Streifen-Effekt in der Hauptnavigation
    }

    @include respond-to(md) {
      height: 2.5rem; // Anpassung der Höhe für mittelgroße Geräte
      margin-bottom: 10px; // Anpassung für mobilen Abstand

      .nav-link {
        font-size: 32px; // Mobile Schriftgröße für Hauptmenü
      }
    }

    @include respond-to(sm) {
      height: 2rem; // Anpassung der Höhe für kleine Geräte
      margin-bottom: 10px; // Anpassung für mobilen Abstand

      .nav-link {
        font-size: 28px; // Kleinere Schriftgröße für Hauptmenü auf kleinen Geräten
      }
    }
  }
}

#block-atlantiq-leistungenmenu,
#block-atlantiq-kundenmenu,
#block-atlantiq-agenturmenu,
#block-atlantiq-jobsmenu {
  margin-top: 3rem;

  ul {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      margin-bottom: 3px;

      a {
        @include yellow-stripe(23px, 15px); // Mixin für den gelben Streifen-Effekt in der Subnavigation
      }

      @include respond-to(md) {
        margin-bottom: 5px; // Anpassung für mobilen Abstand

        a {
          font-size: 18px; // Kleinere Schriftgröße für Subnavigation auf mittelgroßen Geräten
        }
      }

      @include respond-to(sm) {
        margin-bottom: 5px; // Anpassung für mobilen Abstand

        a {
          font-size: 16px; // Kleinere Schriftgröße für Subnavigation auf kleinen Geräten
        }
      }
    }
  }
}
